.example-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.example {
  display: flex;
  margin-bottom: 20px;
}

.title {
  width: 300px;
}
section {
  font-size: 18px;
  padding-bottom: 40px;
  margin-bottom: 70px;
  border-bottom: 1px solid #B8B8B8;
}
h2 {
  margin-bottom: 50px;
}

h4 {
  font-weight: bold;
}

.bs-callout-info {
  border-left-color: #1b809e !important;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.wrapper {
  margin-bottom: 10px;
}

.wrapper label {
  margin-right: 10px;
}

.container {
  display: flex;
  justify-content: space-around;
}

fieldset .wrapper {
  padding-top: 10px;
}

input.ng-dirty.ng-invalid {
  border: 1px solid red;
}

.form-wrapper {
  margin-bottom: 15px;
}

.form-wrapper .form-group {
  margin-bottom: 25px;
  position: relative;
  display: flex;
  align-items: center;
}

.form-wrapper .form-group label {
  width: 100px;
  padding-right: 15px;
  text-align: right;
  flex-shrink: 0;
}

.form-wrapper label.required {
  position: relative;
}

.form-wrapper label.required:after {
  content: "*";
  position: absolute;
  color: #f00;
}

.form-wrapper .form-group .radio-inline {
  width: auto;
  padding-right: 0;
}

.form-wrapper .no-label {
  margin-left: 100px;
}

.form-wrapper .status-message {
  position: absolute;
  top: 100%;
  left: 100px;
  white-space: nowrap;
}

.form-wrapper .status-message.error-message {
  color: #f00;
}
