.example-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.example {
  display: flex;
  margin-bottom: 20px;
}

.title {
  width: 300px;
}
section {
  font-size: 18px;
  padding-bottom: 40px;
  margin-bottom: 70px;
  border-bottom: 1px solid #B8B8B8;
}
h2 {
  margin-bottom: 50px;
}

h4 {
  font-weight: bold;
}

.bs-callout-info {
  border-left-color: #1b809e !important;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.wrapper {
  margin-bottom: 10px;
}

.wrapper label {
  margin-right: 10px;
}

fieldset .wrapper {
  padding-top: 10px;
}

input.ng-dirty.ng-invalid {
  border: 1px solid red;
}

.form-wrapper {
  margin-bottom: 15px;
}

.form-wrapper label.required {
  position: relative;
}

.form-wrapper label.required:after {
  content: "*";
  position: absolute;
  color: #f00;
}

.form-wrapper .form-group .radio-wrapper {
  display: block;
}

.form-wrapper .form-control {
  width: 240px;
}

.form-wrapper .status-message,
error-display {
  white-space: nowrap;
}

error-display {
  color: #f00;
}

.form-status .emoji {
  font-size: 26px;
  display: inline-block;
  width: 36px;
  margin-right: 10px;
  text-align: center;
}

.main-col {
  border-left: 1px solid #eee;
}

.form-json {
  min-height: 100px;
}

.persons li {
  cursor: pointer;
}

.buttons-wrapper button{
  margin-bottom: 15px;
}
