<div class="bs-callout bs-callout-info">
  <p><samp>digitInfo</samp> is a string which has a following format:</p>
  <p><samp>minIntegerDigits.minFractionDigits-maxFractionDigits</samp></p>
  <p><samp>minIntegerDigits</samp> is the minimum number of integer digits to use. Defaults to 1.</p>
  <p><samp>minFractionDigits</samp> is the minimum number of digits after fraction. Defaults to 0.</p>
  <p><samp>maxFractionDigits</samp> is the maximum number of digits after fraction. Defaults to 3.</p>
</div>
<div class="bs-callout bs-callout-info">
  <samp>number_expression | number[:digitInfo]</samp><br>
  <samp>number_expression | percent[:digitInfo]</samp>
</div>
<section>
  <h2>DecimalPipe</h2>
  <div class="example-wrapper">
    <div class="example">
      <p class="title">No pipe</p>
      <input type="number" [(ngModel)]="pi">
    </div>
    <div class="example">
      <p class="title" ngNonBindable>{{value | number: '1.2-4'}}</p>
      <p>{{pi | number: '1.2-4'}}</p>
    </div>
    <div class="example">
      <p class="title" ngNonBindable>{{value | number: '3.6-9'}}</p>
      <p>{{pi | number: '3.6-9'}}</p>
    </div>
    <div class="example">
      <p class="title" ngNonBindable>{{value | number}}</p>
      <p>{{pi | number}}</p>
    </div>
    <div class="example">
      <p class="title" ngNonBindable>{{value | number: '3.1'}}</p>
      <p>{{pi | number: '3.1'}}</p>
    </div>
  </div>
</section>

<section>
  <h2>PercentPipe</h2>
  <div class="example-wrapper">
    <div class="example">
      <p class="title">No pipe</p>
      <input type="number" [(ngModel)]="percent">
    </div>
    <div class="example">
      <p class="title" ngNonBindable>{{value | percent: '1.2-5'}}</p>
      <p>{{percent | percent: '1.2-5'}}</p>
    </div>
    <div class="example">
      <p class="title" ngNonBindable>{{value | percent: '3.5-9'}}</p>
      <p>{{percent | percent: '3.5-9'}}</p>
    </div>
    <div class="example">
      <p class="title" ngNonBindable>{{value | percent}}</p>
      <p>{{percent | percent}}</p>
    </div>
  </div>
</section>
