<h3>Model-driven form</h3>

<div class="row">
    <div class="col-sm-2">
        <ul class="persons list-group">
            <li class="list-group-item" *ngFor="let p of people" (click)="setFormModel(p)">{{p.person.name}}</li>
        </ul>
        <div class="buttons-wrapper">
            <button class="btn btn-primary" (click)="addNew()">New</button>
            <button class="btn btn-default" (click)="setRadioValue()">Set radio value</button>
            <button class="btn btn-default" (click)="toggleRadioDisabled()">Toggle radio disabled</button>
        </div>
    </div>

    <div class="main-col col-sm-10">
        <div class="row">
            <form class="form-wrapper col-sm-6" #form="ngForm" [formGroup]="formGroup">
                <fieldset formGroupName="person">
                    <div class="form-group">
                        <label class="required">Name:</label>
                        <input type="text" class="form-control" formControlName="name">
                        <span class="status-message" *ngIf="formGroup.controls.person.controls.name.pending">
                              Fetching data from the server...
                        </span>
                        <error-display [control]="formGroup.controls.person.controls.name"></error-display>
                    </div>
                    <div class="form-group">
                        <label class="required">Age:</label>
                        <input type="number" class="form-control" formControlName="age">
                        <error-display [control]="formGroup.controls.person.controls.age"></error-display>
                    </div>
                    <div class="form-group">
                        <label>Gender:</label>
                        <radio formControlName="gender" [items]="genders" [nameOption]="gender" class="radio-wrapper"></radio>
                    </div>
                </fieldset>

                <fieldset formGroupName="address">
                    <div class="form-group">
                        <label class="required">E-mail:</label>
                        <input type="text" class="form-control" formControlName="email">
                        <error-display [control]="formGroup.controls.address.controls.email"></error-display>
                    </div>
                    <div class="form-group">
                        <label>City:</label>
                        <input type="text" class="form-control" formControlName="city">
                    </div>
                </fieldset>

                <button class="btn btn-primary" [disabled]="form.invalid" (click)="submit(formGroup.value)">Submit</button>
            </form>

            <div class="form-status col-sm-6">
                <h4>Form status</h4>
                <ul class="list-group">
                    <li class="list-group-item"><span class="emoji">{{form.valid ? '😇' : '👿'}}</span>{{form.valid ? 'Valid' : 'Invalid'}}</li>
                    <li class="list-group-item"><span class="emoji">{{form.touched ? '👇' : '✋'}}</span>{{form.touched ? 'Touched' : 'Untouched'}}</li>
                    <li class="list-group-item"><span class="emoji">{{form.dirty ? '🤢' : '😎'}}</span>{{form.dirty ? 'Dirty' : 'Pristine'}}</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h4>Form value</h4>
                <pre class="form-json">{{formGroup.value | json}}</pre>
            </div>
            <div class="col-sm-6">
                <h4>Submitted</h4>
                <pre class="form-json">{{value | json }}</pre>
            </div>
        </div>
    </div>
</div>
