<div>model-driven form</div>

<div *ngFor="let p of people" (click)="setFormModel(p)">{{p.person.name}}</div>
<button (click)="addNew()">New</button>

<div class="container">
    <form [formGroup]="formGroup">
        
        <fieldset formGroupName="person">
            <div class="wrapper">
                <label>Name:</label>
                <input type="text" formControlName="name">
                <p *ngIf="formGroup.controls.person.controls.name.pending">
                    Fetching data from the server...
                </p>
                <error-display [control]="formGroup.controls.person.controls.name"></error-display>
            </div>
            <div class="wrapper">
                <label>Age:</label>
                <input type="number" formControlName="age">
                <error-display [control]="formGroup.controls.person.controls.age"></error-display>
            </div>
            <div class="wrapper">
                <label>Gender:</label>
                <radio formControlName="gender" [items]="genders" [nameOption]="gender"></radio>
            </div>
        </fieldset>
        
        <fieldset formGroupName="address">
            <div class="wrapper">
                <label>E-mail:</label>
                <input type="text" formControlName="email">
                <error-display [control]="formGroup.controls.address.controls.email"></error-display>
            </div>
            <div class="wrapper">
                <label>City:</label>
                <input type="text" formControlName="city">
            </div>
        </fieldset>
        
        
        <button (click)="submit(formGroup.value)">Submit</button>
    </form>
    <div>
        <pre>Is myForm valid?: <br>{{formGroup.valid | json}}</pre>
        <pre>Is myForm touched?: <br>{{formGroup.touched | json}}</pre>
        <pre>Is myForm dirty?: <br>{{formGroup.dirty | json}}</pre>
        <pre>From errors <br>{{formGroup.errors | json}}</pre>
    </div>
</div>
<pre>
    {{formGroup.value | json}}
</pre>

<h4>Submitted</h4>
<pre>
    {{value | json }}
</pre>


