<h3>Model-driven form</h3>

<div class="wrapper" *ngFor="let p of people" (click)="setFormModel(p)">{{p.person.name}}</div>
<button (click)="addNew()">New</button>
<button (click)="setRadioValue()">Set radio value</button>
<button (click)="toggleRadioDisabled()">Set radio value</button>

<div class="container">
    <form class="form-wrapper" #form="ngForm" [formGroup]="formGroup">

        <fieldset formGroupName="person">
            <div class="form-group">
                <label class="required">Name:</label>
                <input type="text" class="form-control" formControlName="name">
                <span class="status-message" *ngIf="formGroup.controls.person.controls.name.pending">
                    Fetching data from the server...
                </span>
                <span class="status-message error-message" *ngIf="formGroup.controls.person.controls.name.dirty && formGroup.controls.person.controls.name.errors">
                  {{formGroup.controls.person.controls.name.errors | json}}
                </span>
            </div>
            <div class="form-group">
                <label class="required">Age:</label>
                <input type="number" class="form-control" formControlName="age">
                <span class="status-message error-message" *ngIf="formGroup.controls.person.controls.age.dirty && formGroup.controls.person.controls.age.errors">
                  {{formGroup.controls.person.controls.age.errors | json}}
                </span>
            </div>
            <div class="form-group">
                <label>Gender:</label>
                <radio formControlName="gender" [items]="genders" [nameOption]="gender"></radio>
            </div>
        </fieldset>

        <fieldset formGroupName="address">
            <div class="form-group">
                <label class="required">E-mail:</label>
                <input type="text" class="form-control" formControlName="email">
                <span class="status-message error-message" *ngIf="formGroup.controls.address.controls.email.dirty && formGroup.controls.address.controls.email.errors">
                  {{formGroup.controls.address.controls.email.errors | json}}
                </span>
            </div>
            <div class="form-group">
                <label>City:</label>
                <input type="text" class="form-control" formControlName="city">
            </div>
        </fieldset>


        <button class="no-label" [disabled]="form.invalid" (click)="submit(formGroup.value)">Submit</button>
    </form>
    <div>
        <pre>Is myForm valid?: <br>{{formGroup.valid | json}}</pre>
        <pre>Is myForm touched?: <br>{{formGroup.touched | json}}</pre>
        <pre>Is myForm dirty?: <br>{{formGroup.dirty | json}}</pre>
    </div>
</div>
<h4>Form value</h4>
<pre>{{formGroup.value | json}}</pre>

<h4>Submitted</h4>
<pre>{{value | json }}</pre>
