.example-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.example {
  display: flex;
}

.title {
  width: 200px;
}
section {
  padding-bottom: 40px;
  margin-bottom: 70px;
  border-bottom: 1px solid #B8B8B8;
}
